body {
    background-color: lightgrey;
}

h1 {
    color: blue;
    font-family: verdana;
    font-size: 300%;
}

p {
    color:green;
    font-family: courier;
    font-size: 160%;
    border: 1px solid grey;
	padding: 10px;
	margin: 30px;
}